  <div class="flex flex-row items-center justify-between px-7 bg-black w-full h-auto">
    <h1 class="text-[20px] font-extrabold text-white"> Blog Angular </h1>
    <button
    (click)="openAddPostModal()"
    class="text-white border-2 m-3 py-2 px-4 hover:bg-white hover:text-black"> Adicionar posts </button>
  </div>

  <div *ngIf="isAddingPost()" class="fixed inset-0 backdrop-blur-sm bg-black/50 flex justify-center items-center">
      <blog-add-posts
      (newPost)="addNewPost($event)"
      (closeModal)="closeAddPostModal()"
      class="w-full"
      >
      </blog-add-posts>
  </div>

  <div class="grid grid-cols-4 gap-2 bg-white">

      <div class="col-span-1 h-auto bg-white">
        <app-author-card></app-author-card>
        <app-lastposts-card [posts]="posts()"></app-lastposts-card>
      </div>

      <div class="col-span-3 p-2">
        <div class="flex flex-col">
          <ng-container *ngFor="let post of posts()">
            <app-blog-post-card
            class="flex my-3 justify-center items-center"
            [title]="post.title"
            [content]="post.content"
            [img]="post.img"
            >
            </app-blog-post-card>
          </ng-container>
        </div>
      </div>
  </div>

  <div class="flex w-full h-auto px-4 py-5 bg-black">
    <p class="text-gray-200">
      Projeto de blog desenvolvido como exercício prático de front-end. Construído com Angular (v17+) e Tailwind CSS, focado na prática de componentes standalone, signals e reactive forms. Este projeto foi finalizado em 30/09/2025.
    </p>
  </div>